/* tailwindcss */
@import 'tailwindcss';

/* daisyui */
@plugin "daisyui" { themes: light; }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0093c1;
  --color-secondary: #ccf3ff;
  --color-error: #bc3941;
}

/* application */
@import './brand.css';
@import './reset.css';

/* style */
@layer utilities {
  .btn-red {    
    @apply text-white bg-error hover:bg-error-focus;
  }
}