/* import */
@import 'tailwindcss';
@plugin "daisyui" { themes: light --default; }

/* tailwind */
@layer components {
  .btn-red {
    @apply bg-red-500 hover:bg-red-700 text-white;
  }
}

/* vanilla */
header {
  background: lightgray;
  display: flex;
  align-items: center;
  gap: 1rem;
}