@layer base {
    html {
        @apply m-0 h-full text-[16px] leading-normal;
    }

    body {
        @apply m-0 h-full scroll-smooth p-0 font-normal text-gray-600;
        scroll-behavior: smooth;
    }

    #app {
        @apply flex min-h-full flex-col;
    }

    main {
        flex-grow: 1;
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
    }

    * {
        font-family:
            -apple-system, BlinkMacSystemFont, 'Microsoft JhengHei', 'PingFang', 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    a {
        @apply cursor-pointer text-primary no-underline;
    }

    p {
        @apply m-0;
    }

    ul,
    ol {
        @apply m-0 list-none p-0;
    }

    span,
    p,
    li {
        @apply max-h-full;
    }
    
    ul,
    ol,
    div,
    span,
    p,
    li,
    h3,
    h4,
    h5 {
        @apply break-words;
        word-break: break-word;
    }
}