/* daisyui */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0093c1;
  --color-secondary: #CCF3FF;
  --color-secondary-content: #184d5b;
  --color-error: #EB4751;
  --color-accent: #F5693D;
  --color-info: #00D4F0;
  --color-warning: #FFC94F;
  --color-success: #00A59B;
  --color-neutral: #00A59B;
  --color-error-content: #ffffff;
}